@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  overflow-y: scroll; }

header {
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  min-width: 424px; }

.header-main {
  border: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  height: auto;
  position: relative;
  margin: 0;
  padding: 0; }

.header-cta-bar {
  background-color: #1fadb6; }

.header-cta-notification {
  color: #fff;
  font-family: Circular, sans-serif;
  font-size: 8.5px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase; }

.header-main-inner {
  position: relative;
  width: 100%; }

.header-logo-wrapper {
  display: block;
  padding: 17px;
  text-align: center; }
  .header-logo-wrapper .header-logo {
    float: none;
    height: 24px;
    margin: 0 auto;
    width: 87px; }

.header-btn {
  background: rgba(255, 255, 255, 0);
  border: 0;
  cursor: pointer;
  position: absolute;
  height: 56px; }
  .header-btn-menu {
    right: 21px;
    top: 5px; }
    .header-btn-menu .fa-times {
      font-size: 22px;
      color: #1c1c1c; }
  .header-btn .fa-bars {
    font-size: 20px;
    padding: 2px; }
  .header-btn-wrap {
    height: 56px; }

.stat-paywall-try {
  color: #1fadb6;
  display: block;
  font-size: 11px;
  font-weight: 900;
  left: 21px;
  line-height: 1;
  top: 27px;
  text-decoration: none; }

.mobile-hidden {
  display: none; }

.header-cta {
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden; }
  .header-cta-wrap {
    padding: 5px 10px; }
  .header-cta p {
    color: #999999;
    float: left;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 20px;
    margin: 0 5px 0 auto;
    text-decoration: none solid #bbb;
    text-transform: uppercase;
    display: none; }

.cta-inner {
  margin: 0; }
  .cta-inner .cta-slider-inner {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
  .cta-inner .cta-item {
    display: inline;
    list-style-type: none;
    margin-right: 5px;
    padding: 2px 7px;
    background-color: rgba(31, 173, 182, 0.07); }
    .cta-inner .cta-item-link {
      color: #1fadb6;
      font-size: 9px;
      font-weight: 900;
      line-height: 1;
      letter-spacing: 2px;
      text-transform: uppercase; }

.menu-main {
  position: fixed;
  right: -73%;
  width: 85%;
  opacity: 1;
  z-index: 999;
  top: 0; }
  .menu-main-inner {
    background-color: #fff;
    min-height: 100vh;
    position: absolute;
    right: 0;
    width: 85%;
    overflow-x: scroll;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.08); }
  .menu-main .overlay {
    position: fixed;
    z-index: 60;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #f3f3f3;
    opacity: 0; }

#menu-main.show {
  right: 0;
  transition: right .4s ease;
  background-color: rgba(0, 0, 0, 0.5); }

#menu-main.close {
  right: -73%;
  transition: right .4s ease-out; }

.mobile-search {
  display: block;
  position: relative;
  padding: 14px 23px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  background-color: #fff; }
  .mobile-search #search {
    background-color: #f3f3f3;
    border: none;
    height: 40px;
    width: 100%;
    padding: 2px 30px 3px 15px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase; }

.mobile-menu-container ul {
  margin: 0;
  padding: 10px 0; }
.mobile-menu-container .menu-item {
  border-bottom: 1px solid #f3f3f3;
  position: relative;
  line-height: 50px; }
.mobile-menu-container a {
  font-size: 14px;
  letter-spacing: 2px;
  color: #1c1c1c;
  text-decoration: none;
  text-transform: uppercase;
  padding: 24px;
  font-weight: 700; }
  .mobile-menu-container a span {
    position: absolute;
    top: 26px;
    right: 20px;
    font-size: 18px;
    transform: translateY(-50%); }

.submenu-list {
  display: none; }
  .submenu-list .submenu-list-title {
    border-bottom: 1px solid #f3f3f3;
    line-height: 15px; }
    .submenu-list .submenu-list-title:nth-child(1) {
      border-top: 1px solid #f3f3f3; }
    .submenu-list .submenu-list-title:nth-last-child(1) {
      border-bottom: 0; }
    .submenu-list .submenu-list-title a {
      font-size: 14px;
      color: #1fadb6;
      text-transform: capitalize;
      align-items: center;
      display: flex; }

#topic-show.show {
  display: block;
  max-height: 600px; }

#stat-plus-btn {
  color: #1fadb6; }

.header-nav,
.contribute,
.my-account,
.login-menu {
  display: none; }

.mobile-secondary {
  display: flex;
  flex-direction: column; }
  .mobile-secondary .secondary-title {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #aeaeae;
    height: 14px;
    border-top: 1px solid #f3f3f3;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 0 10px 26px; }
    .mobile-secondary .secondary-title span {
      font-size: 12px;
      margin-right: 5px; }
  .mobile-secondary #account-border {
    border-top: 0;
    margin: 0; }
  .mobile-secondary .secondary-list {
    padding-left: 25px; }
  .mobile-secondary .submenu-list-title {
    padding: 0 0 7px 0;
    list-style-type: none; }
    .mobile-secondary .submenu-list-title a {
      color: #1fadb6;
      font-size: 15px;
      font-weight: 700; }

.footer-follow {
  margin-bottom: 20vh; }
  .footer-follow .follow-list {
    display: flex;
    padding-left: 25px !important; }
  .footer-follow .follow-items {
    list-style-type: none;
    width: 40px;
    height: 40px;
    margin-right: 7px;
    background-color: rgba(31, 173, 182, 0.07);
    border-radius: 50%; }
    .footer-follow .follow-items a {
      text-decoration: none;
      padding: 30%;
      color: #1fadb6;
      transition-duration: .25s;
      font-size: 15px;
      font-weight: 700; }

@media (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto; }

  .header-cta {
    justify-content: center; } }
@media (min-width: 1024px) {
  .container {
    max-width: 1200px; }

  .header-btn {
    display: none; }

  .header-cta {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 4%;
    background-color: #fff; }
    .header-cta p {
      display: block; }
    .header-cta-wrap {
      padding: 5px 15px;
      display: flex;
      justify-content: center; }
    .header-cta .cta-title {
      font-size: 9px; }

  .header-logo-wrapper {
    padding-top: 22px;
    padding-bottom: 21px; }
    .header-logo-wrapper .header-logo {
      width: 100px;
      height: 26px; }

  .header-nav,
  .contribute,
  .my-account,
  .login-menu {
    display: block; }

  .header-main-inner {
    border-bottom: 1px solid #f3f3f3; }

  .nav-social {
    display: block;
    top: 30px;
    left: 24px;
    position: absolute;
    padding-bottom: 0; }

  .nav-inner {
    padding: 0;
    list-style-type: none;
    margin: 0; }
    .nav-inner .nav-item-social {
      font-size: 10px;
      padding-right: 10px;
      color: #999999;
      float: left; }

  .contribute {
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 9px;
    text-decoration: none;
    color: #999999;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700; }

  .my-account {
    display: none; }

  .stat-paywall-try {
    display: block;
    position: absolute;
    top: 30px;
    font-weight: 500;
    font-size: 9px;
    color: #1fadb6;
    letter-spacing: 2px;
    text-transform: uppercase;
    left: 89%; }

  .modal {
    display: block;
    position: absolute;
    top: 30px;
    right: 200px;
    font-size: 9px;
    color: #999999;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700; }

  .stat-paywall-subscribe {
    right: 250px;
    border-right: 1px solid #dddddd;
    padding-right: 6px; } }

/*# sourceMappingURL=main.css.map */
